/* .code2 { */
  /* background-color: rgba(25, 25, 25, 1); */
  /* border-radius: 6px; */
  /* color: #fff; */
  /* display: block; */
  /* font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, */
    /* "Courier New", Courier; */
  /* padding: 24px 15px; */
  /* text-align: center; */
  /* margin: auto 0; */
/* } */

.code2 {
  display: grid;
}

footer {
  color: white;
  background-color: rgba(25, 25, 25, 1);
  height: 50px;
  /* margin: 15% 0% 0% 0%; */
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  align-content: center;
}
