* body {
  margin: 0;
  background-color: white;
  color:rgb(255, 255, 255)
}

.code {
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
  color: rgb(9, 0, 0);
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal,
    "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
 
}

img.d-block {
  max-height: 400px;
}

div .body {
  /* background-image: url('../../assets/image/detroit-reflection-cityscape-city-lights-wallpaper-preview.jpeg'); */
  background-repeat: no-repeat;
  background-size: 100%;
  color: rgb(18, 16, 16);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  background-color: hsl(0, 0%, 100%);
}

.header,
.main,
.section,
.aside,
.footer {
  margin: 0 1.5% 24px 1.5%;
  

}
.section {
  
  display: inline-block;

}
.footer {
  margin-bottom: 0;
}

.main {
  margin-bottom: 2%;
}

.aside {
  width: 20%;
  margin-left: 5.5%;
  background-color: white;
  box-shadow:2px 4px 9px .25rem rgba(0,0,0,0.3);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow:2px 4px px .25rem rgba(0,0,0,0.3);
  transform: translateX(800%);
  transition: transform 0.4 ease;
  background-color: white;
  box-shadow:2px 4px 9px .25rem rgba(0,0,0,0.3);
}

box:nth-of-type(even) {
  transform: translateX(-800%);
}

.box.show {
  transform: translateX(0);
}

div .main .code {
  max-height: 20%;
}

.product-row {
  background-color: white;
  box-shadow:2px 4px 9px .25rem rgba(0,0,0,0.3);
}


@media only screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
}