.body-content-img {
    /* border: solid red 10px; */
    display: inline;
    /* float: left; */
    height: 200px;
    width: 400px;
    /* margin-right: 5px; */
}

p.body-paragraph {
    text-align: left;
    display: inline-block;
    /* height: 200px;
    width: 400px; */
    align-self: center;

    
}

/* 
<a href="#about" role="button" tabindex="0" class="btn btn-primary">
Learn More 
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path></svg></a>

*/

a.btn-primary {
    border: red solid 2px;
    display: block;
    /* width: 30vw; */
    justify-content: center;
}


