.body-content-img {
    /* border: solid red 10px; */
    display: inline;
    float: left;
    height: 200px;
    width: 400px;
    margin-right: 5px;
}

.body-paragraph {
    color: white;
    text-align: center;
    display: inline;
    height: 200px;
    width: 400px;

    
}



