p.body-paragraph {
  /* border: solid red 10px; */
  text-align: left;
  display: inline-block;
  /* height: 200px;
    width: 400px; */
  /* align-self: center; */
}

/* 
<a href="#about" role="button" tabindex="0" class="btn btn-primary">
Learn More 
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path></svg></a>

*/

.about-good-peeps {
  display: inline-block;
  margin-top: 30%;
  margin-bottom: 20%;
  text-align: center;
  width: 100%;
}

a.btn-primary {
  /* border: red solid 2px; */
  display: block;
  /* width: 30vw; */
  justify-content: center;
}

div .lowerBodyContent {
  display: flex;
  flex-wrap: wrap;
  /* border: solid red 10px; */
  margin-bottom: 30%;
  position: relative;
}

figure #lowerBodyContent {
  /* border: solid red 10px; */
  /* display:inline-block; */
  /* float: left; */
  /* height: 400px;
    width: 400px; */
  margin: 20% auto;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  width: 500px;
}

@media screen and (min-width: 500px) {
  a.btn-primary {
    /* border: red solid 2px; */
    display: inline-block;
    width: 50vw;
    justify-content: center;
  }

  div .lowerBodyContent {
    display: flex;
    flex-wrap: wrap;
    /* border: solid red 10px; */
    margin-bottom: 30%;
    position: relative;
    width: 100vw;
  }

  figure #lowerBodyContent {
    /* border: solid red 10px; */
    /* display:inline-block; */
    /* float: left; */
    /* height: 400px;
          width: 400px; */
    margin: 20% 10% 20% 10%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    width: 500px;
  }
}
