.logo {
  font-family: "Ephesis", cursive;
  display: inline;
  /* border: solid red 10px; */
  border-radius: 25px;
}


.good-peeps {
  /* border: solid red 10px; */
  text-decoration: none;
}

.d-inline-block {
  /* border: solid red 10px; */
  border-radius: 25px;
  

}

img {
  float: left;
}

.me-auto {
    justify-content: center;
    align-items: center;
    
}

img.d-block {
  background-color: 1px solid rgba(25, 25, 25, 1);
  border: 1px solid rgba(25, 25, 25, 1);
  padding: 0;
}

#basic-navbar-nav {
  border: red solid 10px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  


}

#nav-link-text {
  display: inline-block;
  width: 100vw;
  color: white;
  text-decoration: underline;
  text-decoration-color:white;
}

#nav-link-text:hover {

  /* color:rgba(25, 25, 25, 1); */
  text-decoration: underline;
  text-decoration-color:black;

  
}

.btn-close {
  color: white;
  background-color: white;
}

/* 
<a href="#lilpeeps" data-rr-ui-event-key="#lilpeeps" class="nav-link"><span id="nav-link-text">Lil Peeps</span></a>
*/

a.nav-link {
  /* background-color:rgba(250, 25, 25, 1); */
  display: inline-block;
  width: 100vw; 
  height: 100%;
}


a:link {
  /* color: purple; */
  /* text-decoration: underline; */
  /* text-decoration-color:purple; */
}

a.nav-link:hover {
  background-color: white;
  color:rgba(25, 25, 25, 1);
  /* border-bottom: 2px orange solid;  */
}

div .justify-content-center {
  /* border: 1px solid rgba(250, 25, 25, 1); */
  display: grid;
  grid-template-areas: repeat(7, 1fr) / repeat(1, 1fr);
}

.pre-links {
  display: grid;
  overflow: visible;
  align-content: space-around;
  grid-area: repeat(8, 1fr) / repeat(1, 1fr);
  
}

.pre-links a:visited {
  /* border: red solid 2px; */
  /* color:rgba(25, 25, 25, 1) */
}
.pre-links a:hover {
  /* border: green solid 4px; */
  /* background-color: white; */
  /* color:rgba(25, 25, 25, 1); */
  /* color: white; */
  
}