.body-content-img {
    /* border: solid red 10px; */
    float: left;
    height: 200px;
    width: 400px;
    margin-right: 5px;
}

.learn-more-btn {
    border: solid blue;
    background-color: white;
    color: blue;
    border-radius: 40px;
    background: transparent;
}

.learn-more-btn:hover {
    border: solid blue;
    background-color: blue;
    color: white;
}

.body-paragraph {
    color: black;
    text-align: left;
    /* border: solid blue 10px; */
    
}



