.body-container,
.body-row,
.body-col {
  /* border: solid red 10px; */
}

.body-container {
  /* border: solid blue 10px; */
  /* display: flex;
    flex-wrap:wrap; */
  /* justify-content: space-evenly; */
}

.body-row {
  /* border: solid red 10px; */
}

.body-col {
  /* border: solid black 10px; */
}

.body-figure {
  /* border: solid green 10px; */
  width: 200px;
  height: 200px;
  /* padding: 10px; */
  /* box-shadow: 2px 4px 9px 0.25rem rgba(0, 0, 0, 0.3); */
}

.body-figure:hover {
  /* border: solid green 10px;
  width: 300px;
  height: 300px; */
}
