.logo {
  font-family: "Ephesis", cursive;
  display: inline;
}

.nav-data {
  background-color: rgba(25, 25, 25, 1);
}


img {
  float: left;
}

.me-auto {
    justify-content: center;
    align-items: center;
}

img.d-block {
  background-color: 1px solid rgba(25, 25, 25, 1);
  border: 1px solid rgba(25, 25, 25, 1);
  padding: 0;
}

#basic-navbar-nav {
  border: red solid 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 50%; */

}