.logo {
  font-family: "Ephesis", cursive;
  display: inline;
  /* border: solid red 10px; */
  border-radius: 25px;
}

.d-inline-block {
  /* border: solid red 10px; */
  border-radius: 25px;

}

div #nav-data {
 
}


img {
  float: left;
}

.me-auto {
    justify-content: center;
    align-items: center;
}

img.d-block {
  background-color: 1px solid rgba(25, 25, 25, 1);
  border: 1px solid rgba(25, 25, 25, 1);
  padding: 0;
}

#basic-navbar-nav {
  /* border: red solid 10px; */
  display: flex;
  justify-content: center;
  align-items: center;


}